# Postgresql
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=marketplace
DATABASE_URL=postgresql+asyncpg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}
# JWT code/encode
SECRET_KEY=your-secret-key
# Celery
MAIL_USERNAME=testuser@example.com
MAIL_PASSWORD=your_password
MAIL_FROM=testuser@example.com
CELERY_BROKER_URL=pyamqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbitmq:5672//
# Minio/S3 Service
MINIO_URL=http://localhost:9000
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=your_password
BUCKET_NAME=my-bucket
# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
BACKEND_URL=rpc://