.venv/
venv/

.env

build/
dist/

*.spec

.htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
report.xml
tox.ini

*.log
*.out

*.pid
*.sock

.idea/

secrets.json

staticfiles.json

*.pyc
*.pyo
*.pyd
__pycache__/
**/__pycache__/
htmlcov/

.test/